@{
    ViewData["Title"] = "Counter page";
}

<div id="react-counter"></div>

<link rel="stylesheet" href="~/js/counter.css" />
<script src="~/js/counter.js"></script>
<script>
    window.Counter({
        message: 'Counter example'
    });
</script>